#gdriveContainer @font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(DroidSans.woff) format('woff');
}


#gdriveContainer ::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
#gdriveContainer ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .1);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  border-width: 1px 1px 1px 6px;
}
#gdriveContainer ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#gdriveContainer ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
#gdriveContainer ::-webkit-scrollbar-corner {
  background: transparent;
}

#gdriveContainer {
  padding: 0 15px 15px 15px;
  overflow: hidden;
  background: url(../img/gdrive/google_drive_bg.png) no-repeat center center,
              -webkit-linear-gradient(bottom, #eee, rgba(255,255,255,0));
  background-size: 270px 215px, 100%;
  font-family: 'Droid Sans', sans-serif;
}

#gdriveContainer.dropping > #main {
  -webkit-filter: blur(2px);
}

#gdriveContainer #dropper {
  visibility: hidden;
}
#gdriveContainer .dropping #dropper {
  visibility: visible;
  display: -webkit-flex;
  opacity: 1;
  pointer-events: all;
}

#gdriveContainer ul {
  margin: 0;
  height: 525px;
  overflow: auto;
}

#gdriveContainer li {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 3px;
  background: -webkit-linear-gradient(right, #eee, rgba(255,255,255,0), #eee);
  color: #666666;
}

#gdriveContainer #log {
  display: block;
}

#gdriveContainer #dropper {
  pointer-events: none;
  opacity: 0;
  background: rgba(255,255,255,0.5);
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-transition: opacity 0.1s ease-in-out;
}

#gdriveContainer .dropzone {
  padding: 15px 50px;
  border-radius: 10px;
  border: 10px dashed #ccc;
}

#gdriveContainer .dropzone img {
  width: 300px;
  height: 300px;
  opacity: 0.3;
}

#gdriveContainer #main > nav {
  padding-top: 15px;
  margin-bottom: 10px;
  -webkit-app-region: drag;
}

#gdriveContainer #main > nav button {
  -webkit-app-region: no-drag;
} 

#gdriveContainer nav > h2 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

#gdriveContainer nav:hover #close-button {
  opacity: 1;
}

#gdriveContainer #close-button {
  float: right;
  padding: 0 5px 2px 5px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
}

#gdriveContainer .uploading progress {
  visibility: visible;
}

#gdriveContainer progress {
  visibility: hidden;
  width: 100%;
}

#gdriveContainer .date {
  float: right;
}
