<div class="modal-body">

		<form class="form-signin">
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="text" class="input-block-level" placeholder="Email address">
			<input type="password" class="input-block-level" placeholder="Password">
			<label class="checkbox">
				<input type="checkbox" value="remember-me">
				Remember me </label>
			<button class="btn btn-primary" type="submit">
				Sign in
				<i class="icon-circle-arrow-right"></i>
			</button>
		</form>
</div>