<div class="container">

	<!-- Example row of columns -->
	<div class="row">

		<div ng-include="'partials/plugins/friend.html'" class="header"></div>

		<div class="span3" ng-repeat="group in myGroups">
			<div class="card hovercard">
				<img bn-lazy-src="{{group.img}}" width="240px" height="135px" alt=""/>
				
				<div class="avatar">
					<img bn-lazy-src="{{group.avatar}}" width="80px" height="80px" alt="" />
				</div>
				<div class="info">
					<div class="title">
						{{group.name}}
					</div>
					<div class="desc" ng-repeat="desc in group.desc">
						{{desc.desc}}
					</div>
				</div>
				<div class="bottom">
					<button class="btn">
						Add
					</button>
				</div>
			</div>
		</div>
	
	</div>
</div>