<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<div class="container">
		<h1>Hello, world!</h1>
		<p>
			This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
		</p>
		<p>
			<a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a>
		</p>
	</div>
</div>

<div class="container">

	<!-- Example row of columns -->
	<div class="row">
		<div class="span4">

			<div class="card">
				<h3 class="card-heading simple">Simple News Card</h3>
				<div class="card-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					<p>
				</div>
				<div class="card-actions">
					<button class="btn btn-block" ng-click="clickToSee(friend.id)">
						View Details
					</button>
				</div>
			</div>

		</div>
		<div class="span4">

			<div class="card">
				<h3 class="card-heading simple">Simple News Card</h3>
				<div class="card-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					<p>
				</div>
				<div class="card-actions">
					<button class="btn btn-block" ng-click="clickToSee(friend.id)">
						View Details
					</button>
				</div>
			</div>

		</div>
		<div class="span4">

			<div class="card">
				<h3 class="card-heading simple">Simple News Card</h3>
				<div class="card-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					<p>
				</div>
				<div class="card-actions">
					<button class="btn btn-block" ng-click="clickToSee(friend.id)">
						View Details
					</button>
				</div>
			</div>

		</div>
	</div>
</div>